/composer.phar
/src/ESNLeJeu/Entity/User.php
/src/ESNLeJeu/Logs/suivi.log
/vendor/
/.idea/
/config/parameters.yml

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock