account:
    login: my-login
    password: my-password
    esn: Le nom de mon ESN
    email: mon@email.tld

modules:
    everytime:
        - \Jhiino\ESNLeJeu\Module\Stat\Popularity
        - \Jhiino\ESNLeJeu\Module\Stat\Tender
        - \Jhiino\ESNLeJeu\Module\Stat\Stock
        - \Jhiino\ESNLeJeu\Module\Stat\Dashboard
    audit:
        - \Jhiino\ESNLeJeu\Module\Audit\FireEmployees
        - \Jhiino\ESNLeJeu\Module\Audit\RenegociateContracts
    flannel:
        - \Jhiino\ESNLeJeu\Module\Complaint\Flannel
    business:
        - \Jhiino\ESNLeJeu\Module\Tender\Bid

tenders:
    hire: false
    min_weeks: 5
    min_interest_margin: 0.22
    trade_promotion: 0.95
    max_bid_per_hour: 500

employees:
    hire_employees: false
    hire_freelances: false

audit:
    fire: false
    max_fire_per_hour: 300
    renegotiate_contracts: true
    renegotiate_type:
        very_good: true
        good: true
        bad: true
        very_bad: true
    break_type:
        very_good: false
        good: false
        bad: false
        very_bad: false

mailer:
    host: smtp.gmail.com
    port: 465
    security: ssl
    username: my-login
    password: my-password
    from: mon@email.tld
    from_as: ESN Le Bot
    recipients:
        - mon@email.tld
        - peut-etre-un-autre@email.tld

logger:
    levels: [ EMERGENCY, ALERT, CRITICAL, ERROR, WARNING, NOTICE, INFO ] # DEBUG

development:
    activate: true
