account:
    login: my-login
    password: my-password
    esn: Le nom de mon ESN
    email: mon@email.tld

modules:
    everytime:
        - \Jhiino\ESNLeJeu\Module\StatsModule: popularity
        - \Jhiino\ESNLeJeu\Module\StatsModule: tenders
    audit:
        - \Jhiino\ESNLeJeu\Module\AuditModule: fireEmployees
        - \Jhiino\ESNLeJeu\Module\AuditModule: renegotiateContracts
    flannel:
        - \Jhiino\ESNLeJeu\Module\ComplaintsModule: flannel
    business:
        - \Jhiino\ESNLeJeu\Module\TendersModule: tenders
        - \Jhiino\ESNLeJeu\Module\TendersModule: bidOnTenders

tenders:
    hire: true
    min_weeks: 6
    min_interest_margin: 0.22
    trade_promotion: 0.97
    max_bid_per_hour: 100

employees:
    hire_employees: true
    hire_freelances: false

audit:
    fire: false
    max_fire_per_hours: 30
    renegotiate_contracts: true
    renegotiate_type:
        very_good: true
        good: true
        bad: true
        very_bad: true
    break_type:
        very_good: false
        good: false
        bad: false
        very_bad: false

mailer:
    host: smtp.gmail.com
    port: 465
    security: ssl
    username: my-login
    password: my-password
    from: mon@email.tld
    from_as: ESN Le Bot
    recipients:
        - mon@email.tld
        - peut-etre-un-autre@email.tld

logger:
    levels: [ EMERGENCY, ALERT, CRITICAL, ERROR, WARNING, NOTICE, INFO, DEBUG ]
